.admin-container {
  min-height: 100vh;
  display: flex;
  background-color: #000;
  background-image: url("/public/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.admin-sidebar {
  width: 230px;
  background: rgba(17, 17, 17, 0.95);
  color: #fff;
  padding: 20px;
  border-right: 1px solid #222;
}

.admin-logout-btn {
  margin-top: auto;
  padding: 10px;
  background: transparent;
  border: 1px solid #ffd200;
  color: #ffd200;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.95rem;
  transition: all 0.3s ease;
}

.admin-logout-btn:hover {
  background: #ffd200;
  color: #000;
}

.admin-sidebar h2 {
  color: #ffd200;
}

.admin-sidebar a {
  display: block;
  color: #ccc;
  margin: 15px 0;
  text-decoration: none;
}

.admin-sidebar a.active {
  color: #ffd200;
}

.admin-main {
  flex: 1;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.75); 
  color: #fff;
}


.dashboard-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.dash-card {
 background: rgba(26, 26, 26, 0.95);
  color: #fff;
  box-shadow: 0 0 15px rgba(255, 210, 0, 0.3);
  padding: 30px;
  font-size: 1.2rem;
  border-radius: 10px;
  text-align: center;
  width: 180px;
}


table {
  background: rgba(26, 26, 26, 0.95);
  color: #fff;
}

table th {
  background: #111;
}

table td {
  border-bottom: 1px solid #333;
}


button {
  padding: 5px 10px;
  cursor: pointer;
}

/* Graph Section */
.graph-section {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 30px;
}

.graph-card {
  background: rgba(26, 26, 26, 0.95);
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(255, 210, 0, 0.25);
}

.graph-card h3 {
  text-align: center;
  margin-bottom: 20px;
  color: #ffd200;
}
